.prang {
    z-index: 0;
  
    width: 1550px;
    height: 700px;
    background-color: red;
    -webkit-animation-name: example; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 4s; /* Safari 4.0 - 8.0 */
    animation: example 5s infinite;
    
}
@keyframes example {
        from {background-color: #c38f2c;}
    to {background-color: #f4e1bc;}
}
    
.column{
  
    background-image : url('/images/What.png') ;
    height: 700px;
}
.content{
    z-index: 2;


}